$pass: green !default;
$fail: red;
$width: 600px;
$number: 5 !default;
$animName: fadeIn;

.is-color-green {
	color: $pass;
}

$orientation: landscape;

@media (min-width: $width), handheld and (orientation: $orientation) {
	$pass: white !default;

	.is-color-green {
		color: $pass;
	}
}

@if 1 == 1 {
	.is-1-equal-to-1 {
		color: $pass;
	}
} @else {
	.is-1-not-equal-to-1 {
		color: $fail;
	}
}

@if 1 == 2 {
	.is-1-equal-to-2 {
		color: $fail;
	}
} @else {
	.is-1-not-equal-to-2 {
		color: $pass;
	}
}

@if $number == 1 {
	.is-number-var-equal-to-1 {
		color: $fail;
	}
} @else {
	.is-number-var-not-equal-to-1 {
		color: $pass;
	}
}

@if $number == 5 {
	.is-number-equal-to-5 {
		color: $pass;
	}
} @else {
	.is-number-not-equal-to-5 {
		color: $fail;
	}
}

@if 1 != 1 {
	.is-1-not-equal-to-1 {
		color: $fail;
	}
}

@if 1 != 2 {
	.is-1-not-equal-to-2 {
		color: $pass;
	}
}

@if 1 < 0 {
	.is-1-less-than-0 {
		color: $fail;
	}
}

@if 1 < 1 {
	.is-1-less-than-1 {
		color: $fail;
	}
}

@if 1 < 2 {
	.is-1-less-than-2 {
		color: $pass;
	}
}

@if 1 > 0 {
	.is-1-greater-than-0 {
		color: $pass;
	}
}

@if 1 > 1 {
	.is-1-greater-than-1 {
		color: $fail;
	}
}

@if 1 > 2 {
	.is-1-greater-than-2 {
		color: $fail;
	}
}

@if 1 <= 0 {
	.is-1-less-than-or-equal-to-0 {
		color: $fail;
	}
}

@if 1 <= 1 {
	.is-1-less-than-or-equal-to-1 {
		color: $pass;
	}
}

@if 1 <= 2 {
	.is-1-less-than-or-equal-to-2 {
		color: $pass;
	}
}

@if 1 >= 0 {
	.is-1-less-than-or-equal-to-0 {
		color: $pass;
	}
}

@if 1 >= 1 {
	.is-1-less-than-or-equal-to-1 {
		color: $pass;
	}
}

@if 1 >= 2 {
	.is-1-less-than-or-equal-to-2 {
		color: $fail;
	}
}

@for $i from 1 to 5 by 2 {
	.for-$(i)-from-1-to-5-by-2 {
		width: $(i)px;
	}
}

@for $i from 6 to 1 by 2 {
	.for-$(i)-from-6-to-1-by-2 {
		height: $(i)px;
	}
}

@each $i in (foo, bar, baz) {
	.each-$(i)-in(foo,bar,baz) {
		color: $pass;
	}
}

@keyframes $animName {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes $animName {}
@-moz-keyframes $animName {}
@-o-keyframes $animName {}
