.is-color-green {
	color: green;
}

@media (min-width: 600px), handheld and (orientation: landscape) {

	.is-color-green {
		color: green;
	}
}

.is-true-true {
		color: green;
	}

.is-false-false {
		color: green;
	}

.is-true-variable-true {
		color: green;
	}

.is-1-equal-to-1 {
		color: green;
	}

.is-1-not-equal-to-2 {
		color: green;
	}

.is-number-var-not-equal-to-1 {
		color: green;
	}

.is-number-equal-to-5 {
		color: green;
	}

.is-1-not-equal-to-2 {
		color: green;
	}

.is-1-less-than-2 {
		color: green;
	}

.is-1-greater-than-0 {
		color: green;
	}

.is-1-less-than-or-equal-to-1 {
		color: green;
	}

.is-1-less-than-or-equal-to-2 {
		color: green;
	}

.is-1-less-than-or-equal-to-0 {
		color: green;
	}

.is-1-less-than-or-equal-to-1 {
		color: green;
	}

.for-1-from-1-to-5-by-2 {
		width: 1px;
	}

.for-3-from-1-to-5-by-2 {
		width: 3px;
	}

.for-5-from-1-to-5-by-2 {
		width: 5px;
	}

.for-6-from-6-to-1-by-2 {
		height: 6px;
	}

.for-4-from-6-to-1-by-2 {
		height: 4px;
	}

.for-2-from-6-to-1-by-2 {
		height: 2px;
	}

.each-foo-in(foo,bar,baz) {
		color: green;
	}

.each-bar-in(foo,bar,baz) {
		color: green;
	}

.each-baz-in(foo,bar,baz) {
		color: green;
	}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {}
@-moz-keyframes fadeIn {}
@-o-keyframes fadeIn {}
